<div>
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <div class="form-floating switch mb-3">
        <select name="control_type" id="control_type" class="form-select" ng-model="contentField.options.control_type">
            <option value="checkbox">Checkbox</option>
            <option value="switch">Switch</option>
        </select>
        <label class="form-label" for="control">Control Type</label>
    </div>

</div>