<div>
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <div class="form-floating mb-3">
        <select name="ControlType" id="controlType" class="form-select" ng-model="contentField.options.controlType">
            <option value="checkbox">Checkbox</option>
            <option value="switch">Switch</option>
            <option value="radiobuttons">Radiobuttons</option>
        </select>
        <label class="form-label" for="controlType">Control Type</label>
    </div>

    <div ng-if="contentField.options.controlType=='radiobuttons'">

        <div class="form-check form-switch mb-3">
            <input type="checkbox" class="form-check-input" id="customLabels" ng-model="contentField.options.customLabels">
            <label class="form-check-label" for="customLabels">Custom Labels</label>
        </div>

        <div class="row" ng-if="contentField.options.customLabels==true">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="labelTrue" ng-model="contentField.options.labelTrue" placeholder=" ">
                    <label class="form-label" for="labelTrue">True Label</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="labelFalse" ng-model="contentField.options.labelFalse" placeholder=" ">
                    <label class="form-label" for="labelFalse">False Label</label>
                </div>
            </div>
        </div>
    </div>
</div>