<div>
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Number of characters</label>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="min_length" class="form-control" ng-model="contentField.options.min_length" min="0" placeholder=" " />
                    <label class="form-label" for="min_length">Min</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="max_length" class="form-control" ng-model="contentField.options.max_length" min="0" placeholder=" " />
                    <label class="form-label" for="max_length">Max</label>
                </div>
            </div>
        </div>
    </div>
</div>