<div>
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <strong>Choices</strong>
    <button type="button" class="btn btn-sm btn-primary float-end" ng-click="addChoice()"><span class="fa fa-plus"></span> Add New Choice</button>

    <table class="table table-striped">
        <colgroup>
            <col width="1%" />
            <col />
            <col width="1%" />
        </colgroup>
        <tbody>
            <tr ng-repeat="choice in contentField.options.choices track by choice.value">
                <td><a href="#" class="text-muted" ng-click="editChoice(choice)"><span class="fas fa-edit" /></a></td>
                <td>{{choice.text}}</td>
                <td><a href="#" class="text-danger" ng-click="deleteChoice(choice)"><span class="fas fa-trash" /></a></td>
            </tr>
        </tbody>
    </table>

    <p class="alert alert-info" ng-show="contentField.options.choices.length==0">No choices defined yet</p>

    <div class="form-floating mb-3">
        <select name="default_value" class="form-select" ng-model="contentField.options.default_value">
            <option value="">-select-</option>
            <option ng-repeat="choice in contentField.options.choices" value="{{choice.value}}">{{choice.text}}</option>
        </select>
        <label for="default_value" class="form-label">Default Value</label>
    </div>
</div>