<div class="modal-header">
    <button class="btn btn-link text-muted float-right" ng-click="close()"><span class="fas fa-times" /></button>
    <h3 class="modal-title">Delete '{{contentItem.name}}'</h3>
</div>
<div class="modal-body">
    <p class="lead">Are you sure you want to delete '{{contentItem.name}}'?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="close()">Cancel</button>
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
</div>

