<div>
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <div class="mb-3">
        <label class="form-label">Valid Range</label>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="min_value" class="form-control" ng-model="contentField.options.min_value" placeholder=" " />
                    <label class="form-label" for="min_value">Min</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="max_value" class="form-control" ng-model="contentField.options.max_value" placeholder=" " />
                    <label class="form-label" for="min_value">Min</label>
                </div>
            </div>
        </div>
    </div>
</div>
