<div class="card">
    <div class="card-body">

        <label for="relatedContent" class="form-label">Related {{relationship.relatedContentType.name}} <span class="text-danger" ng-show="isRequired()">*</span> <span ng-if="relationship.minLimit">(min:{{relationship.minLimit}})</span> <span ng-if="relationship.maxLimit">(max:{{relationship.maxLimit}})</span></label>

        <table class="table table-striped">
            <colgroup>
                <col />
                <col style="width:1%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th><button class="btn btn-sm" ng-click="addRelatedContentItem()"><span class="fas fa-plus"></span></button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in relatedItems">
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-sm" ng-click="deleteRelatedContentItem($index)"><span class="fas fa-trash"></span></button></td>
                </tr>
            </tbody>
        </table>

        <div class="form-row">
            <div class="col-sm-6">
                <small class="form-text">{{relationship.helpText}}</small>
            </div>
            <div class="col-sm-6 text-right">
                <div ng-messages="form[controlName].$error" ng-if="submitted" class="invalid-feedback" role="alert">
                    <div ng-message="minTags">A minimum of {{getMinTags()}} is required</div>
                    <div ng-message="maxTags">A maximum of {{getMaxTags()}} is allowed</div>
                </div>
            </div>
        </div>
    </div>
</div>
