<div class="modal-header">
    <h5 class="modal-title" ng-show="contentItem.id">Edit {{contentType.singular}} - {{contentItem.name}}</h5>
    <h5 class="modal-title" ng-show="!contentItem.id">New {{contentType.singular}}</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">

    <div ng-show="loading" style="font-size: 60px; text-align: center;">
        <i class="fas fa-cog fa-spin fa-3x fa-fw"></i>
    </div>

    <div class="form" ng-form="formContentItem" ng-show="!loading" id="formContentItem" name="formContentItem">

        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" name="name" class="form-control" ng-model="contentItem.name" required ng-class="{'is-invalid': formContentItem.name.$invalid && submitted,'is-valid': formContentItem.name.$valid && submitted }" placeholder=" " />
                    <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                    <div ng-messages="formContentItem.name.$error" ng-show="submitted" class="invalid-feedback" role="alert">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="row in canvas.rows">
            <div class="col" ng-repeat="column in row.columns">
                <div content-field-type-text="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='text'" />                
                <div content-field-type-number form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='number'" />
                <div content-field-type-email form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='email'" />
                <div content-field-type-phone-number form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='phonenumber'" />
                <div content-field-type-url form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='url'" />
                <div content-field-type-date-time form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='datetime'" />
                <div content-field-type-static form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='static'" />
                <div content-field-type-boolean form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='boolean'" />
                <div content-field-type-choice form="formContentItem" content-field="column.data" submitted="submitted" ng-if="column.data.content_field_type.key=='choice'" />

                <div content-field-type-related-content-single form="formContentItem" relationship="column.data" submitted="submitted" ng-if="column.data.key=='o2m' && column.data.b_content_type_id==contentType.id"></div>
                <div content-field-type-related-content-multiple-list form="formContentItem" relationship="column.data" submitted="submitted" ng-if="column.data.key=='m2m' || (column.data.key=='o2m' && column.data.a_content_type_id==contentType.id)"></div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">

    <span style="position: absolute; left: 20px;"><strong>Status: {{contentItem.status}}</strong></span>

    <button class="btn btn-link pull-left" ng-click="close()"><span ng-show="!formContentItem.$dirty">Close</span><span ng-show="formContentItem.$dirty">Cancel</span></button>

    <button class="btn btn-info" ng-click="saveDraft()" ng-disabled="saving"><span ng-show="contentItem.status==='Draft'">Save</span><span ng-show="contentItem.status!='Draft'">Save as Draft</span></button>
    <button class="btn btn-primary" ng-click="savePublish()" ng-disabled="saving"><span ng-show="contentItem.status==='Draft'">Publish</span><span ng-show="contentItem.status!=='Draft'">Save</span></button>

</div>


