<div class="modal-header">    
    <h5 class="modal-title">Edit Visualizer Settings</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">
    <div ng-form="formVisualizer" class="form" id="formVisualizer" name="formVisualizer">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#contentType">Content Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#template" ng-class="{'disabled': visualizer.contentTypeId==null}">Template</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#filter" ng-class="{'disabled': visualizer.visualizerTemplateId==null}">Filter</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="contentType">

                <p class="lead">
                    Select the Content Type you wish to display
                </p>

                <div class="form-floating mb-3">
                    <select name="contentTypeId" class="form-control" ng-model="visualizer.contentTypeId" ng-options="contentType.id as contentType.name for contentType in contentTypes" ng-change="contentTypeChanged()" required ng-class="{'is-invalid': formVisualizer.contentTypeId.$invalid && submitted, 'is-valid': formVisualizer.contentTypeId.$valid && submitted}">
                        <option value="">-select-</option>
                    </select>
                    <label for="contentTypeId" class="form-label">Content Type <span class="text-danger">*</span></label>
                    <div ng-messages="formVisualizer.contentTypeId.$error" ng-if="submitted" class="invalid-feedback" role="alert">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="template">
                <p class="lead">
                    Select the Visualizer Template to use for the {{contentType.singular}} content type
                </p>

                <div class="row" ng-show="visualizerTemplates.length>0">
                    <div class="col-3" ng-repeat="visualizerTemplate in visualizerTemplates">
                        <div class="card" style="height:100%" ng-click="selectVisualizerTemplate(visualizerTemplate.id)" ng-class="{'shadow': visualizerTemplate.id==visualizer.visualizerTemplateId}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{visualizerTemplate.name}}
                                </h5>
                                <hr />
                                <p class="card-text">
                                    {{visualizerTemplate.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-info" ng-show="visualizerTemplates.length==0">
                    No Visualizer Templates found for {{contentType.plural}}.
                </div>
            </div>

            <div class="tab-pane fade" id="filter">
                <div ng-show="visualizerTemplate.contentSize=='single'">
                    <p class="lead">
                        You have chosen a template that expects a single {{contentType.singular}}.
                    </p>
                    <p class="lead">
                        You must specify the {{contentType.singular}} you want to display.
                    </p>

                    <div class="form-group">
                        <label for="ItemId" class="form-label">{{contentType.singular}} <span class="text-danger">*</span></label>

                        <select name="ItemId" class="form-control" ng-model="visualizer.itemId" ng-options="contentItem.id as contentItem.name for contentItem in contentItems" ng-required="visualizerTemplate.contentSize=='single'">
                            <option value="">Select ...</option>
                        </select>

                        <div ng-messages="formVisualizer.itemId.$error" ng-if="submitted" class="invalid-feedback" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                </div>

                <div ng-show="visualizerTemplate.contentSize=='multiple'">
                    <p class="lead">
                        You have chosen a template that expects a list of {{contentType.plural}}.
                    </p>
                </div>

                <p><small>[TODO]: Add more filtering capabilities (URL querystring param, cookie, etc.)</small></p>

            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-link" ng-click="close()"><span ng-show="!formVisualizer.$dirty">Close</span><span ng-show="formVisualizer.$dirty">Cancel</span></button>
    <button class="btn btn-primary" ng-click="saveVisualizer()">Save</button>
</div>
