<div class="modal-header">
    <h5 class="modal-title" ng-show="!contentField.id">Create Content Field</h5>
    <h5 class="modal-title" ng-show="contentField.id">Edit {{contentField.name}}</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">

    <div ng-show="loading" style="font-size: 60px; text-align: center;">
        <i class="fas fa-cog fa-spin fa-3x fa-fw"></i>
    </div>

    <div ng-show="!loading">

        <div class="form" ng-form="formContentField" namd="formContentField" id="formContentField">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#general" data-toggle="tab" data-target="#general">General</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#advanced" data-toggle="tab" data-target="#advanced">Advanced</button>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="general">

                    <p class="lead">Give the field a name and some help text for the content editor.</p>

                    <div class="form-floating mb-3">
                        <input type="text" name="name" class="form-control" ng-model="contentField.name" required ng-keyup="nameChanged()" ng-class="{'is-invalid': formContentField.name.$invalid && submitted, 'is-valid': formContentField.name.$valid && submitted}" placeholder=" " />
                        <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                        <div role="alert" ng-messages="formContentField.name.$error" ng-if="submitted" class="invalid-feedback">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" name="HelpText" class="form-control" ng-model="contentField.helpText" placeholder=" " />
                        <label for="HelpText" class="form-label">Help Text</label>
                    </div>

                    <div content-field-type-options-text content-field="contentField" ng-if="contentFieldType.key=='text'"></div>                    
                    <div content-field-type-options-number content-field="contentField" ng-if="contentFieldType.key=='number'"></div>
                    <div content-field-type-options-email content-field="contentField" ng-if="contentFieldType.key=='email'"></div>
                    <div content-field-type-options-phone-number content-field="contentField" ng-if="contentFieldType.key=='phonenumber'"></div>
                    <div content-field-type-options-url content-field="contentField" ng-if="contentFieldType.key=='url'"></div>
                    <div content-field-type-options-date-time content-field="contentField" ng-if="contentFieldType.key=='datetime'"></div>
                    <div content-field-type-options-static content-field="contentField" ng-if="contentFieldType.key=='static'"></div>
                    <div content-field-type-options-boolean content-field="contentField" ng-if="contentFieldType.key=='boolean'"></div>                    
                    <div content-field-type-options-choice content-field="contentField" ng-if="contentFieldType.key=='choice'"></div>                    
                    
                    <div content-field-type-options-one-to-many content-field="contentField" content-type="contentType" ng-if="contentFieldType.key=='onetomany'"></div>

                </div>

                <div class="tab-pane fade" id="advanced">

                    <p class="lead">These Options let you configure how data will be stored in the database.</p>

                    <p class="alert alert-info" ng-show="contentField.id">
                        Database settings cannot be changed for existing fields (yet)
                    </p>

                    <div class="form-floating mb-3">
                        <input type="text" name="columnName" class="form-control" ng-model="contentField.columnName" required ng-keyup="columnNameChanged()" ng-disabled="contentField.id" ng-class="{'is-invalid': formContentField.columnName.$invalid && submitted,'is-valid': formContentField.columnName.$valid && submitted}" placeholder=" " />
                        <label for="columnName" class="form-label">Database Column Name <span class="text-danger">*</span></label>
                        <div class="invalid-feedback" role="alert" ng-messages="formContentField.columnName.$error" ng-if="submitted" ng-cloak>
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <select name="dataType" class="form-select" ng-model="contentField.dataType" required convert-to-number ng-disabled="contentField.id" ng-class="{'is-invalid': formContentField.dataType.$invalid && submitted,'is-valid': formContentField.dataType.$valid && submitted}">
                            <option value="">-select-</option>
                            <option value="0">nvarchar</option>
                            <option value="1">numeric</option>
                            <option value="2">datetime</option>
                            <option value="3">bit</option>
                            <option value="4">int</option>
                        </select>
                        <label for="dataType" class="form-label">Data Type <span class="text-danger">*</span></label>
                        <div class="invalid-feedback" role="alert" ng-messages="formContentField.dataType.$error" ng-if="submitted" ng-cloak>
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <select name="dataLength" class="form-select" ng-model="contentField.dataLength" ng-disabled="contentField.id">
                            <option value="">None</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="MAX">MAX</option>
                        </select>
                        <label for="dataLength" class="form-label">Data Length </label>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input" id="allowNull" ng-model="contentField.allowNull" ng-disabled="contentField.id">
                        <label class="form-check-label" for="allowNull">Allow Null</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="text" name="defaultValue" class="form-control" ng-model="contentField.defaultValue" ng-disabled="contentField.id" ng-required="!contentField.allowNull" ng-class="{'is-invalid': formContentField.defaultValue.$invalid && submitted, 'is-valid': formContentField.defaultValue.$valid && submitted}" placeholder=" " />
                        <label for="defaultValue" class="form-label">Default Value <span class="text-danger" ng-show="!contentField.allowNull">*</span></label>
                        <div class="invalid-feedback" role="alert" ng-messages="formContentField.defaultValue.$error" ng-if="submitted" ng-cloak>
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr />

        <div class="card shadow">
            <div class="card-body">

                <div class="form-check form-switch float-end">
                    <input type="checkbox" class="form-check-input" id="validate" ng-model="validate">
                    <label class="form-check-label" for="validate">Test Validation</label>
                </div>

                <div class="card-title text-uppercase">Content Field Preview</div>

                <div ng-form="formPreview" class="form" id="formPreview" name="formPreview">
                    <div content-field-type-text form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='text'"></div>                    
                    <div content-field-type-number form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='number'"></div>
                    <div content-field-type-email form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='email'"></div>
                    <div content-field-type-phone-number form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='phonenumber'"></div>
                    <div content-field-type-url form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='url'"></div>
                    <div content-field-type-date-time form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='datetime'"></div>
                    <div content-field-type-static form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='static'"></div>
                    <div content-field-type-boolean form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='boolean'"></div>
                    <div content-field-type-choice form="formPreview" content-field="contentField" submitted="validate" ng-if="contentFieldType.key=='choice'"></div>                    
                    
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="close()"><span ng-show="!formContentField.$dirty">Close</span><span ng-show="formContentField.$dirty">Cancel</span></button>
    <button class="btn btn-primary" ng-click="saveContentField()"><span ng-show="!contentField.id">Create</span><span ng-show="contentField.id">Save</span></button>
</div>
