<div class="form-floating mb-3">
    <input type="text" name="{{contentField.column_name}}" id="{{contentField.column_name}}" class="form-control" ng-intl-tel-input ng-model="contentField.value" ng-required="contentField.options.required" ng-class="{'is-invalid': form[contentField.column_name].$invalid && submitted,'is-valid': form[contentField.column_name].$valid && submitted}" >
    <label for="{{contentField.column_name}}" class="form-label">{{contentField.name}} <span class="text-danger" ng-show="contentField.options.required">*</span></label>
    <div ng-messages="form[contentField.column_name].$error" ng-if="submitted" class="invalid-feedback" role="alert">
        <div ng-message="required">This field is required</div>
        <div ng-message="ngIntlTelInput">This is not a valid phone number for this country</div>
    </div>
    <small class="form-text" ng-show="contentField.help_text">{{contentField.help_text}}</small>    
</div>