<div class="modal-header">
    <h5 class="modal-title">Edit Relationship</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">

    <div class="form" ng-form="formRelationship" id="formRelationship" name="formRelationship">

        <p class="lead">Relationships define how Content Types are related to each other. </p>

        <div class="alert alert-danger" ng-show="contentType.id!==relationship.aContentTypeId && contentType.id!==relationship.aContentTypeId">At least one of the content types must be {{contentType.name}}</div>

        <div class="row">

            <div class="col">

                <div class="form-floating mb-3">
                    <select name="aContentTypeId" class="form-select" required ng-model="relationship.aContentTypeId" convert-to-number ng-change="contentTypeChange()" ng-disabled="relationship.id" ng-class="{'is-invalid': formRelationship.aContentTypeId.$invalid}">
                        <option value="">-select-</option>
                        <option value="{{contentType.id}}" ng-repeat="contentType in contentTypes">{{contentType.name}}</option>
                    </select>
                    <label for="aContentTypeId" class="form-label">Content Type <span class="text-danger">*</span></label>
                    <div ng-messages="formRelationship.aContentTypeId.$error" class="invalid-feedback" role="alert">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="aHelpText" class="form-control" ng-model="relationship.aHelpText" placeholder=" " />
                    <label for="aHelpText" class="form-label">Help Text</label>
                </div>

                <div class="mb-3" ng-show="relationship.key==='o2m'">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="aRequired" ng-model="relationship.aRequired">
                        <label class="form-check-label" for="aRequired">Required</label>
                    </div>
                </div>

                <div class="mb-3" ng-show="relationship.key!='o2m'">
                    <label for="" class="form-label">Selection Limit</label>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="aMinLimit" class="form-control" ng-model="relationship.aMinLimit" min="1" max="{{relationship.aMinLimit}}" placeholder=" " />
                                <label for="aMinLimit" class="form-label">Min Limit</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="aMaxLimit" class="form-control" ng-model="relationship.aMaxLimit" min="{{relationship.aMinLimit || 1}}" placeholder=" " />
                                <label for="aMaxLimit" class="form-label">Max Limit</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="form-floating mb-3">
                    <select name="key" class="form-select" ng-model="relationship.key" ng-disabled="relationship.id">
                        <option value="o2m">One To Many</option>
                        <option value="m2m">Many To Many</option>
                    </select>
                    <label for="key" class="form-label">Relationship</label>
                </div>
            </div>

            <div class="col">

                <div class="form-floating mb-3">
                    <select name="bContentTypeId" class="form-control custom-select" required ng-model="relationship.bContentTypeId" convert-to-number ng-change="contentTypeChange()" ng-disabled="relationship.id" ng-class="{'is-invalid': relationship.bContentTypeId.$invalid}">
                        <option value="">-select-</option>
                        <option value="{{contentType.id}}" ng-repeat="contentType in contentTypes">{{contentType.name}}</option>
                    </select>
                    <label for="bContentTypeId" class="form-label">Content Type <span class="text-danger">*</span></label>
                    <div ng-messages="formRelationship.bContentTypeId.$error" class="invalid-feedback" role="alert">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="bHelpText" class="form-control" ng-model="relationship.bHelpText" placeholder=" " />
                    <label for="bHelpText" class="form-label">Help Text</label>
                </div>

                <div class="mb-3" ng-show="relationship.key!='m2o'">
                    <label class="form-label">Selection Limit</label>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="bMinLimit" class="form-control" ng-model="relationship.bMinLimit" min="1" max="{{relationship.bMinLimit}}" placeholder=" " />
                                <label for="bMinLimit" class="form-label">Min Limit</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="bMaxLimit" class="form-control" ng-model="relationship.bMaxLimit" min="{{relationship.bMaxLimit || 1}}" placeholder="Max" />
                                <label for="bMaxLimit" class="form-label">Max Limit</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />

        <div class="card text-center lead">
            <div class="card-body">

                <span span ng-show="relationship.key=='o2m'">1 <strong>{{aContentType.singular}}</strong></span>

                <span ng-show="relationship.key!='o2m' && (!relationship.aMinLimit && !relationship.aMaxLimit)">Multiple</span>
                <span ng-show="relationship.key!='o2m' && (relationship.aMinLimit || relationship.aMaxLimit)">
                    <span ng-show="relationship.aMinLimit">At least {{relationship.AMinLimit}}</span>
                    <span ng-show="relationship.aMinLimit && relationship.aMaxLimit"> and</span>
                    <span ng-show="relationship.aMaxLimit"> at most {{relationship.aMaxLimit}}</span>
                </span>


                <span ng-show="relationship.key!='o2m'">
                    <span ng-show="(relationship.aMinLimit || relationship.aMaxLimit) && relationship.aMinLimit <= 1 && relationship.aMaxLimit <=1 ">
                        <strong>{{aContentType.singular}}</strong>
                    </span>
                    <span ng-show="(!relationship.aMinLimit && !relationship.aMaxLimit) || (relationship.aMinLimit > 1) || (relationship.aaMaxLimit > 1)">
                        <strong>{{aContentType.plural}}</strong>
                    </span>
                </span>


                <span span ng-show="relationship.key=='o2m'">is </span>
                <span span ng-show="relationship.key!='o2m'">
                    <span ng-show="(relationship.aMinLimit || relationship.aMaxLimit) && relationship.aMinLimit <= 1 && relationship.aMaxLimit <=1 ">
                        is
                    </span>
                    <span ng-show="(!relationship.aMinLimit && !relationship.aMaxLimit) || (relationship.aMinLimit > 1) || (relationship.aMaxLimit > 1)">
                        are
                    </span>
                </span>

                related to

                <span ng-show="relationship.key=='m2o'">1 <strong>{{bContentType.singular}}</strong></span>

                <span ng-show="relationship.key!='m2o' && (!relationship.bMinLimit && !relationship.bMaxLimit)">multiple</span>
                <span ng-show="relationship.key!='m2o' && (relationship.bMinLimit || relationship.bMaxLimit)">
                    <span ng-show="relationship.bMinLimit"> at least {{relationship.bMinLimit}}</span>
                    <span ng-show="relationship.bMinLimit && relationship.bMaxLimit"> and</span>
                    <span ng-show="relationship.bMaxLimit"> at most {{relationship.bMaxLimit}}</span>
                </span>


                <span ng-show="relationship.key!='m2o'">
                    <span ng-show="(relationship.bMinLimit || relationship.bMaxLimit) && relationship.bMinLimit <= 1 && relationship.bMaxLimit <=1 ">
                        <strong>{{bContentType.singular}}</strong>
                    </span>
                    <span ng-show="(!relationship.bMinLimit && !relationship.bMaxLimit) || (relationship.bMinLimit > 1) || (relationship.bMaxLimit > 1)">
                        <strong>{{bContentType.plural}}</strong>
                    </span>
                </span>

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="close()"><span ng-show="!formRelationship.$dirty">Close</span><span ng-show="formRelationship.$dirty">Cancel</span></button>
    <button class="btn btn-primary" ng-click="saveRelationship()" ng-disabled="contentType.id!=relationship.aContentTypeId && contentType.id!=relationship.bContentTypeId"><span ng-show="!relationship.id">Create</span><span ng-show="relationship.id">Save</span></button>
</div>
