<div ng-form="formText">
    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="required" ng-model="contentField.options.required">
        <label class="form-check-label" for="required">Required</label>
    </div>

    <div class="form-floating mb-3">
        <select name="controlType" id="controlType" class="form-select" ng-model="contentField.options.controlType" required ng-class="{'is-invalid': formText.controlType.$invalid && submitted, 'is-valid': formText.controlType.$valid && submitted}">
            <option value="textbox">Textbox</option>
            <option value="textarea">Textarea</option>
            <option value="rich-text-editor">Rich Text Editor</option>
        </select>
        <label class="form-label" for="controlType">Control Type</label>
        <div role="alert" ng-messages="formText.controlType.$error" ng-if="submitted" class="invalid-feedback">
            <div ng-message="required">This field is required</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Number of characters</label>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="minLength" class="form-control" ng-model="contentField.options.minLength" min="0" placeholder=" " />
                    <label class="form-label" for="minLength">Min</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" name="maxLength" class="form-control" ng-model="contentField.options.maxLength" min="0" placeholder=" " />
                    <label class="form-label" for="maxLength">Max</label>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3" ng-if="contentField.options.controlType=='textbox'">
        <div class="form-floating">
            <input type="text" name="inputMask" class="form-control" ng-model="contentField.options.inputMask" placeholder=" " />
            <label class="form-label" for="inputMask">Input Mask</label>
        </div>
        <small class="form-t"><strong>9</strong> for numbers, <strong>w</strong> for characters</small>
    </div>
</div>