<div class="modal-header">
    <h5 class="modal-title">Visualizer Templates for '{{contentType.name}}'</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">

    <div ng-show="loading" style="font-size: 60px; text-align: center;">
        <i class="fas fa-cog fa-spin fa-3x fa-fw"></i>
    </div>

    <div ng-show="!loading">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <input id="search" name="search" placeholder="Search..." class="form-control" ng-model="nameSearch" />
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <div class="col d-flex justify-content-end">

            </div>
        </div>
        <table class="table table-striped">
            <colgroup>
                <col />
                <col style="width: 1%;" />
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <a href class="text-muted" ng-click="addVisualizerTemplate()"><i class="fa fa-plus"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="visualizerTemplate in visualizerTemplates | search: 'name':nameSearch">
                    <td>
                        <a href="#" class="text-muted" title="Edit" ng-click="editVisualizerTemplate(visualizerTemplate.id)">{{visualizerTemplate.name}}</a>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="text-muted dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="dropdown-menu" data-toggle="dropdown" data-target="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-ellipsis-h"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item text-muted" title="Edit" ng-click="editVisualizerTemplate(visualizerTemplate.id)"><span class="fas fa-edit" /> Edit</a>
                                <a href="#" class="dropdown-item text-muted" title="Copy" ng-click="copyVisualizerTemplate(visualizerTemplate.id)"><span class="fas fa-copy" /> Duplicate</a>
                                <a href="# " class="dropdown-item text-danger" title="Delete" ng-click="deleteVisualizerTemplate(visualizerTemplate)"><span class="fas fa-trash" /> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info" ng-show="(visualizerTemplates | search: 'name':nameSearch).length==0 ">No visualizers found.</div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-link" ng-click="close()">Close</button>
</div>
