
<div class="form-floating mb-3" ng-if="contentField.options.controlType=='textbox'">
    <input type="text" name="{{contentField.columnName}}" id="{{contentField.columnName}}" class="form-control" ng-model="contentItem[contentField.columnName]" ng-required="contentField.options.required" ng-minlength="contentField.options.minLength" ng-maxlength="contentField.options.maxLength" ng-class="{'is-invalid': form[contentField.columnName].$invalid && submitted,'is-valid': form[contentField.columnName].$valid && submitted}" placeholder=" " mask="{{contentField.options.inputMask}}" mask-restrict="reject" mask-validate="true" />
    <label for="{{contentField.columnName}}" class="form-label">{{contentField.name}} <span class="text-danger" ng-show="contentField.options.required">*</span></label>
    <div ng-messages="form[contentField.columnName].$error" role="alert" class="invalid-feedback">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">This field requires a minimum of {{contentField.options.minLength}} characters</div>
        <div ng-message="maxlength">This field allows a maximum of {{contentField.options.maxLength}} characters</div>
        <div ng-message="mask">Invalid format.  Use '{{contentField.options.inputMask}}'</div>
    </div>
    <small class="form-text" ng-show="contentField.helpText">{{contentField.helpText}}</small>
</div>

<div class="form-floating mb-3" ng-if="contentField.options.controlType=='textarea'">
    <textarea id="{{contentField.columnName}}" name="{{contentField.columnName}}" rows="3" class="form-control" ng-model="contentItem[contentField.columnName]" ng-required="contentField.options.required" ng-minlength="contentField.options.minLength" ng-maxlength="contentField.options.maxLength" ng-class="{'is-invalid': form[contentField.columnName].$invalid && submitted,'is-valid': form[contentField.columnName].$valid && submitted}" style="min-height:7rem" placeholder=" "></textarea>
    <label for="{{contentField.columnName}}" class="form-label">{{contentField.name}} <span class="text-danger" ng-show="contentField.options.required">*</span></label>
    <div ng-messages="form[contentField.columnName].$error" ng-if="submitted" class="invalid-feedback" role="alert">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">This field requires a minimum of {{contentField.options.minLength}} characters</div>
        <div ng-message="maxlength">This field allows a maximum of {{contentField.options.maxLength}} characters</div>
    </div>
    <small class="form-text" ng-show="contentField.helpText">{{contentField.helpText}}</small>
</div>


<div class="mb-3" ng-if="contentField.options.controlType=='rich-text-editor'">
    <label for="rich_text_editor_input" class="form-label">{{contentField.name}} <span class="text-danger" ng-show="contentField.options.required">*</span></label>
    <div>Rich Text Editor Coming Soon</div>
    <div ng-messages="form[contentField.columnName].$error" class="invalid-feedback" role="alert">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">This field requires a minimum of {{contentField.options.minLength}} characters</div>
        <div ng-message="maxlength">This field allows a maximum of {{contentField.options.maxLength}} characters</div>
    </div>
    <small class="form-text" ng-show="contentField.helpText">{{contentField.helpText}}</small>
</div>