<div class="form-floating mb-3">
    <select id="{{contentField.column_name}}" name="{{contentField.column_name}}" class="form-select" ng-model="contentField.value" ng-required="contentField.options.required" ng-class="{'is-invalid': form[contentField.column_name].$invalid && submitted,'is-valid': form[contentField.column_name].$valid && submitted}">
        <option value="">-select-</option>
        <option ng-repeat="choice in contentField.options.choices" value="{{choice.value}}">{{choice.text}}</option>
    </select>
    <label for="{{contentField.column_name}}" class="form-label">{{contentField.name}} <span class="text-danger" ng-show="contentField.options.required">*</span></label>
    <div ng-messages="form[contentField.column_name].$error" ng-if="submitted" class="invalid-feedback" role="alert">
        <div ng-message="required">This field is required</div>
    </div>
    <small class="form-text" ng-show="contentField.help_text">{{contentField.help_text}}</small>
</div>