<div class="modal-header">
    <h5 class="modal-title">Delete '{{contentField.name}}'</h5>
    <button type="button" class="btn-close" ng-click="close()"></button>
</div>

<div class="modal-body">

    <p class="lead">
        Deleting this field will also delete all data associated with this field.<br />
        This action is irreversable.
    </p>

    <div ng-form="formContentFieldDelete" class="form">
        <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" ng-model="content_field_name" placeholder=" " />
            <label for="name" class="form-label">Type the name of the field to confirm deletion</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="close()"><span ng-show="!formContentFieldDelete.$dirty">Close</span><span ng-show="formContentFieldDelete.$dirty">Cancel</span></button>
    <button class="btn btn-danger" ng-click="delete()" ng-disabled="contentField.name!=content_field_name">Delete</button>
</div>

