<div class="modal-header">
    <button class="btn btn-link text-muted float-right" ng-click="close()"><span class="fas fa-times" /></button>
    <h3 class="modal-title">View Revision</h3>
</div>

<div class="modal-body">

    <div ng-show="loading" style="font-size: 60px; text-align: center;">
        <i class="fas fa-cog fa-spin fa-3x fa-fw"></i>
    </div>

    <div class="form" ng-show="!loading">

        <div class="card bg-light text-muted">
            <div class="card-body">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="RevisionDate" class="form-label">Revision Date</label>
                            <div class="form-control-static">{{revision.revisionDate | date : "medium"}}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="UserId" class="form-label">User ID</label>
                            <div class="form-control-static">{{revision.userId}}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="ActivityType" class="form-label">Activity Type</label>
                            <div class="form-control-static">{{revision.activityType}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-row">
            <div class="col">
                <h3>Original Data</h3>
                {{revision.data|json}}
            </div>
            <div class="col">
                <h3>Delta</h3>
                {{revision.delta|json}}
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="close()">Close</button>
</div>


